* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
main {
  width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
/* header styles */
.banner-section {
  background-image: url("images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  padding: 180px 180px 167px 0;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  padding-bottom: 24px;
}
.banner-des {
  font-size: 16px;
  color: #444343;
  padding-bottom: 32px;
}
.primary-btn {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  background: #f15b22;
  border-radius: 5px;
  padding: 20px 25px;
}
.secondary-btn {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border: none;
    background: #fff;
    border-radius: 5px;
    padding: 20px 36px;
  }
/* failures section styles */
.achievement-section-data,
.failure-section-data {
  display: flex;
  align-items: center;
  gap: 85px;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  color: #151414;
  padding-bottom: 24px;
}
.section-des {
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  margin-bottom: 16px;
}
ul li {
  list-style: none;
  font-size: 16px;
  color: #444343;
  margin-bottom: 8px;
}
li img {
  width: 24px;
}
i {
  font-weight: bold;
}
/* plan section styles */
.plan-section .section-title {
  text-align: center;
}
.plans {
  text-align: center;
  margin-top: 50px;
}
.plan-list {
  display: flex;
  justify-content: center;
  gap: 85px;
}
.section-subtitle {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-bottom: 16px;
  margin-top: 24px;
}
.plan-des {
  font-weight: 500;
  font-size: 25px;
  color: #727372;
}
/* bottom image section */
.bottom-img{
    background: linear-gradient(to right, #F15B22, #e4080800),url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 60px 0 60px 64px;
}
.bottom-img .section-title{
    color: #fff;
}
/* footer section */
