* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
main {
  width: 1140px;
  margin: 0 auto;
}
section,
footer {
  margin-top: 130px;
}
/* header styles */
.banner-section {
  background-image: url("images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  padding: 180px 180px 167px 0;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  padding-bottom: 24px;
}
.banner-des {
  font-size: 16px;
  color: #444343;
  padding-bottom: 32px;
}
.primary-btn {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  background: #f15b22;
  border-radius: 5px;
  padding: 20px 25px;
}
.secondary-btn {
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  border: none;
  background: #fff;
  border-radius: 5px;
  padding: 20px 36px;
}
/* failures section styles */
.achievement-section-data,
.failure-section-data {
  display: flex;
  align-items: center;
  gap: 85px;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  color: #151414;
  padding-bottom: 24px;
}
.section-des {
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  margin-bottom: 16px;
}
ul li {
  list-style: none;
  font-size: 16px;
  color: #444343;
  margin-bottom: 8px;
}
li img {
  width: 24px;
}
i {
  font-weight: bold;
}
/* plan section styles */
.plan-section .section-title {
  text-align: center;
}
.plans {
  text-align: center;
  margin-top: 50px;
}
.plan-list {
  display: flex;
  justify-content: center;
  gap: 85px;
}
.section-subtitle {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-bottom: 16px;
  margin-top: 24px;
}
.plan-des {
  font-weight: 500;
  font-size: 25px;
  color: #727372;
}
/* bottom image section */
.bottom-img {
  background: linear-gradient(to right, #f15b22, #e4080800),
    url("images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 60px 0 60px 64px;
}
.bottom-img .section-title {
  color: #fff;
}
/* footer section */
footer {
  background: #151414;
  padding: 130px 150px;
}
footer img {
  margin-right: 17px;
  margin-top: 15px;
}
.footer-section {
  display: flex;
  gap: 280px;
  justify-content: center;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.footer-des {
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;
}
.footer-subtitle {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
}
input[type="email"] {
  width: 325px;
  height: 64px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: #151414;
  margin-bottom: 16px;
}
input[type="email"]::placeholder {
  font-size: 18px;
  padding-left: 20px;
  color: #f3f3f3;
}
